# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Directory for local run/deployment files
build/

# Temporary stuff:
tmp/
*~
*.log
*.swp

# SQLite databases
*.sqlite3

# IDE project files
.idea/
*.sublime-project
*.sublime-workspace
