# Django and stuff
Django==1.10.2
django-ajax-selects==1.5.2
django-debug-toolbar==1.6
django-pipeline==1.6.9

# PostgreSQL connector
psycopg2==2.6.2

# Common Python requirements
Pygments
PyYAML
pytz
pip
