{% extends 'contests/base.html' %}

{% block body %}
  {% if user.is_authenticated %}
    {% if attempts %}
      <table style="width: 100%">
      <tr>
        <th>Задача</th>
        <th>Компилятор</th>
        <th>Вердикт</th>
        <th>Используемое<br/>время, сек</th>
        <th>Используемая<br/>память, КБ</th>
        <th>Исходный<br/>код</th>
      </tr>
      {% for attempt in attempts %}
        <tr>
          <td>{{ attempt.problem_in_contest.number }}:{{ attempt.problem_in_contest.problem.name }}</td>
          <td>{{ attempt.compiler.name }}</td>
          <td>
            {% if attempt.result == "Compilation error" %}
              <a href="{% url 'contests:errors' attempt_id=attempt.id %}">{{ attempt.result }}</a>
            {% else %}
              {{ attempt.result|default_if_none:'' }}
            {% endif %}
          </td>
          <td>{{ attempt.used_time|default_if_none:'' }}</td>
          <td>{{ attempt.used_memory|default_if_none:'' }}</td>
          <td><a href="{% url 'contests:source' attempt_id=attempt.id %}">[link]</a></td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <p>На этой странице будет отображаться очередь ваших посылок</p>
    {% endif %}
  {% else %}
    <p>Войдите в систему используя аккаунт пользователя, чтобы просматривать очередь своих попыток</p>
  {% endif %}
{% endblock body %}
