{% extends 'contests/item_base.html' %}

{% block contest_page_content %}
{% if not contest.is_training and not time_info.started %}
  <p>Очередь ваших посылок будет доступна на этой странице сразу после начала соревнования.</p>
{% else %}
  <table style="width: 100%">
  <tr>
    <th>Время</th>
    <th>Задача</th>
    <th>Компилятор</th>
    <th>Вердикт</th>
    <th>Используемое<br />время, сек</th>
    <th>Используемая<br />память, КБ</th>
    <th>Исходный<br />код</th>
  </tr>
  {% for attempt in attempts %}
    <tr>
      <td>{{ attempt.created_at }}</td>
      <td>
        <a href="{{ attempt.problem_in_contest.get_absolute_url }}">
          {{ attempt.problem_in_contest.number }}. {{ attempt.problem_in_contest.problem.name }}
        </a>
      </td>
      <td>{{ attempt.compiler.name }}</td>
      <td>
        {% if attempt.result == "Compilation error" %}
          <a href="{{ attempt.get_absolute_url }}">Compilation error</a>
        {% else %}
          {{ attempt.verdict|default:'Waiting' }}
        {% endif %}
      </td>
      <td>{{ attempt.used_time|default_if_none:'' }}</td>
      <td>{{ attempt.used_memory|default_if_none:'' }}</td>
      <td><a href="{{ attempt.get_absolute_url }}">[link]</a></td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
{% endblock %}

{% block pagination %}
  {% with page_link='contests:attempts' page_param=contest.id %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
