{% extends 'base.html' %}

{% block title %}{{ block.super }} :: {{ contest.name }}{% endblock %}

{% block current_nav_section %}
{% if contest.is_training %} trainings_nav_section {% else %} competitions_nav_section {% endif %}
{% endblock %}

{% block local_title %}
  <h2>{{ contest.name }}</h2>
  {% if not contest.is_training %}
    {{ time_info.time_str }}
  {% endif %}
{% endblock local_title %}

{% block content %}

<div class="large-10 columns">
  {% block contest_page_content %}
  {% endblock %}
</div>

<div class="large-2 columns lerna-sidebar">
  <ul class="vertical menu">
    {% if contest.is_training %}
      <li><a href="{% url 'contests:training' contest.id %}">Задания</a></li>
    {% else %}
      <li><a href="{{ contest.get_absolute_url }}">Задания</a></li>
    {% endif %}
    <li><a href="{% url 'contests:submit' contest.id %}">Послать</a></li>
    <li><a href="{% url 'contests:attempts' contest.id %}">Очередь</a></li>
    {% if contest.is_training %}
      <li><a href="{% url 'contests:rating' contest.id %}">Рейтинг</a></li>
    {% else %}
      <li><a href="{% url 'contests:standings' contest.id %}">Рейтинг</a></li>
    {% endif %}
    <li><a href="#">Вопросы</a></li>
</ul>
  <hr/>

</div>
{% endblock %}
