{% extends 'contests/base.html' %}

{% block contest_page_content %}

{% for clarification in clarifications %}
  <div class="clarification">
    {% if user.is_staff %}
      <div class="clarification-user">{{ clarification.user }}:</div>
    {% endif %}
    <div class="clarification-question">{{ clarification.question|linebreaksbr }}</div>
    {% if user.is_staff %}
      <a href="{% url 'admin:core_clarification_change' clarification.id %}" target="_blank">
        Ответить
      </a>
    {% endif %}
    {% if clarification.answer %}
      <div class="clarification-answer">{{ clarification.answer|safe|linebreaksbr }}</div>
    {% endif %}
  </div>
{% endfor %}

<form method="post" action="">
  {% csrf_token %}
  {{ form.question }}
  <input type="submit" value="Задать" />
</form>

{% endblock %}
