{% extends 'contests/base.html' %}


{% load staticfiles %}


{% block current_nav_section %}
  {% if contest.is_training %} trainings_nav_section {% else %} competitions_nav_section {% endif %}
{% endblock %}


{% block title %}{{ block.super }} :: {{ contest.name }}{% endblock %}



{% block content %}
  <div class="lerna-contest-heading">
    <h4>
      {% if time_info.frozen %}
        <img src="{% static 'lerna/icons/snowflake.svg' %}" title="Таблица результатов заморожена"/>
      {% endif %}

      {{ contest.name }}

      {% if user.is_staff %}
        <button class="button lerna-small-button" type="button" data-toggle="contest-dropdown-menu">
          <img src="{% static 'lerna/icons/item_menu.svg' %}"/>
        </button>
        <div class="dropdown-pane right" id="contest-dropdown-menu" data-dropdown>
          <ul class="menu vertical">
            <li><a href="{% url 'admin:core_notification_add' %}?contest={{ contest.id }}" target="_blank">
              Сделать объявление
            </a></li>
          </ul>
        </div>
      {% endif %}
    </h4>

    {% if not contest.is_training %}
      <div class="lch-timestamp">
        {{ time_info.time_str }}
      </div>
    {% endif %}
    <hr/>

    <ul class="menu">
      <li><a href="{{ contest.get_absolute_url }}">Задачи</a></li>
      <li><a href="{% url 'contests:submit' contest.id %}">Послать</a></li>
      <li><a href="{% url 'contests:attempts' contest.id %}">Попытки</a></li>
      {% if contest.is_training %}
        <li><a href="{% url 'contests:rating' contest.id %}">Рейтинг</a></li>
      {% else %}
        <li><a href="{% url 'contests:standings' contest.id %}">Рейтинг</a></li>
      {% endif %}
      <li><a href="{% url 'contests:clarifications' contest.id %}">Вопросы</a></li>
    </ul>
  </div>
{% endblock %}

