{% extends 'contests/base.html' %}


{% block title %}{{ block.super }} :: Список соревнований {% endblock %}

{% block content %}

<h2>Актуальные соревнования</h2>

{% if actual_contest_list or wait_contest_list %}
  <ul>
  {% for contest in actual_contest_list %}
    <li>
      <h2><a href="{{ contest.get_absolute_url }}">{{ contest.name }}</a></h2>
      <p>
        {% if contest.is_school %}
          Подсчёт результатов: по количеству пройденных тестов
        {% else %}
          Подсчёт результатов: по стандартным правилам ACM
        {% endif %}
      </p>
      <p>Время начала: {{ contest.start_time }}</p>
      <p>Продолжительность: {{ contest.duration_str }}</p>
    </li>
  {% endfor %}
  {% for contest in wait_contest_list %}
    <li>
      <h2><a href="{{ contest.get_absolute_url }}">{{ contest.name }}</a></h2>
      <p>
        {% if contest.is_school %}
          Подсчёт результатов: по количеству пройденных тестов
        {% else %}
          Подсчёт результатов: по стандартным правилам ACM
        {% endif %}
      </p>
      <p>Время начала: {{ contest.start_time }}</p>
      <p>Продолжительность: {{ contest.duration_str }}</p>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>В данный момент нет активных или ожидаемых олимпиад.</p>
{% endif %}

<h2>Прошедшие соревнования</h2>

{% if past_contest_list %}
  <ul>
  {% for contest in past_contest_list %}
    <li>
      <h2><a href="{{ contest.get_absolute_url }}">{{ contest.name }}</a></h2>
      <p>
        {% if contest.is_school %}
          Подсчёт результатов: по количеству пройденных тестов
        {% else %}
          Подсчёт результатов: по стандартным правилам ACM
        {% endif %}
      </p>
      <p>Время начала: {{ contest.start_time }}</p>
      <p>Продолжительность: {{ contest.duration_str }}</p>
    </li>
  {% endfor %}
  </ul>
{% else %}
  <p>Пока нет прошедших олимпиад</p>
{% endif %}

{% endblock %}
