{% extends 'contests/base.html' %}

{% block body %}

<table>
<tr>
  <th>Ранг</th>
  <th>Имя</th>
  {% for problem in problems %}
    <th><span title="{{ problem.problem.name }}">{{ problem.number }}</span></th>
  {% endfor %}
  <th>Задач<br/>(из {{ problems|length }})</th>
</tr>
{% for user in user_list %}
  <tr>
    <td>{{ user.rank }}</td>
    <td>{{ user.username }}</td>
      {% for status in user.problems_status %}
        <td>{{ status }}</td>
      {% endfor %}
    <td>{{ user.problems_solved }}</td>
  </tr>
{% endfor %}
</table>

{% if page_obj %}
<div class="pagination">
  <span class="step-links">

  {% for i in paginator.page_range %}
    [
    {% if i == page_obj.number %}
      {{ i }}
    {% else %}
      {% if i == 1 %}
        {% url 'contests:rating' contest.id as u %}
      {% else %}
        {% url 'contests:rating' contest.id i as u %}
      {% endif %}
      <a href="{{ u }}">{{ i }}</a>
    {% endif %}
    ]
  {% endfor %}

  </span>
</div>
{% endif %}

{% endblock body %}
