{% extends 'contests/base.html' %}

{% block body %}
  {% if form.errors %}
    <p>Форма заполнена с допущением ошибок. Попробуйте снова.</p>
  {% endif %}

  <form method="post" action="">
    {% csrf_token %}
    <table>
      <tr>
        <td>компилятор</td>
        <td>{{ form.compiler }}</td>
      </tr>
      <tr>
        <td>задача</td>
        <td>{{ form.problem }}</td>
      </tr>
      <tr>
        <td>код</td>
        <td>{{ form.source }}</td>
      </tr>
    </table>

    <input type="submit" value="Отправить" />
  </form>
{% endblock body %}
