{% extends 'contests/base.html' %}

{% block body %}
{% if not contest.is_training and not time_info.started %}
  <p>Список задач будет доступен на этой странице сразу после начала соревнования.</p>
{% else %}
  {% if pics %}
    <ul>
    {% for pic in pics %}
      <li>
        <a href="{% url 'contests:problem' contest_id=contest.id problem_number=pic.number %}">
          {{ pic.number }} : {{ pic.problem.name }}
        </a>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Нет задач для отображения</p>
  {% endif %}
{% endif %}
{% endblock body %}
