@import 'definitions';


.lerna-c11n {
  .lerna-c11n__user {
    color: $txt-gray;
    font-style: italic;
  }
  .lerna-c11n__question {
    color: $txt-gray;
    margin-bottom: 10px;
  }
  .lerna-c11n__answer {
    margin-bottom: 10px;
  }
}

.lerna-contest-header {
  > hr { margin: 5px 0; }
  .lerna-contest-header__time {
    color: $txt-gray;
    font-size: $txt-small;
    margin-top: -3px;
  }
}


.lerna-contest-problem {
  > .lerna-contest-problem__content {
    margin-top: 25px;
    code {
      border: 0;
      background-color: inherit;
      padding: inherit;
    }
  }
  > .lerna-contest-problem__sidebar {
    margin-top: 35px;
    .active > a { background-color: $theme-color; }
  }
  .lerna-contest-problem__meta {
    margin-bottom: 15px;
    > div {
      color: $txt-gray;
      font-size: $txt-small;
      margin-top: -3px;
    }
  }
  .lerna-contest-problem__examples {
    th {
      text-align: center;
      width: 50%;
    }
    td {
      font-family: monospace;
      vertical-align: top;
    }
  }
}


.lerna-contests-listed {
  margin: 10px 0 30px 0;
  > .lerna-contests-listed__title { font-size: 20px; }
  > .lerna-contests-listed__meta {
    color: $txt-gray;
    font-size: $txt-small;
    margin-top: -3px;
  }
}
