@import 'definitions';


.lerna-button,
.lerna-button,{
  &, &:visited { background: $theme-color; }
  &:focus, &:hover { background: darken($theme-color, 3%); }
}

.lerna-button--small {
  &, &:focus, &:hover, &:visited {
    background: inherit;
    height: inherit;
    margin: 3px;
    padding: 2px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}

.lerna-indicator {
    height: 1em;
    width: 1em;
}
