/* Buttons */
.lerna-small-button,
.lerna-small-button:visited {
    background: inherit;
    margin: 3px;
    padding: 2px;
    width: 25px;
    height: 25px;
}

.lerna-small-button:hover,
.lerna-small-button:focus {
    background-color: #D5F0E0;
    border: 1px solid #A9D9BC;
}

.lerna-small-button > img {
    width: 15px;
    height: 15px;
}


.lerna-button,
.lerna-button:visited {
    background: #118C4E;
}

.lerna-button:hover,
.lerna-button:focus {
    background: #0A6035;
}
