/* Buttons */
.lerna-small-button,
.lerna-small-button:visited,
.lerna-small-button:hover,
.lerna-small-button:focus {
    background: inherit;
    margin: 3px;
    padding: 2px;
    height: inherit;
}

.lerna-small-button > img {
    width: 15px;
    height: 15px;
}


.lerna-button,
.lerna-button:visited {
    background: #118C4E;
}

.lerna-button:hover,
.lerna-button:focus {
    background: #0A6035;
}

.lerna-indicator-image {
    height: 1em;
    width: 1em;
}
