/* Global layout */
body, html {
    margin: 0;
    padding: 0;
    border: 0;
}


/* Top menu bar */
.lerna-main-menu {
    background-color: #0B5E35;
    background: linear-gradient(to top, #0B5E35, #0E7340);
    padding: 4px 0;
    box-shadow: 0 0px 4px #999999;

    .row {
        padding-left: 2;
    }
}

.lerna-main-menu > .row > div > ul {
    background: inherit;
}

.lerna-main-menu ul.horizontal > li > a {
    color: white;
}

.lerna-main-menu ul.horizontal > li > a::after {
    border-color: #DDEEDD transparent transparent !important;
}

.news_nav_section         ul.horizontal li > a.news_toplink,
.competitions_nav_section ul.horizontal li > a.competitions_toplink,
.trainings_nav_section    ul.horizontal li > a.trainings_toplink,
.rating_nav_section       ul.horizontal li > a.rating_toplink
{
    border-bottom: 1px solid white;
    background: inherit;
    color: white;
}

.lerna-main-menu .lerna-topbar-logo img {
    width: 25px;
    height: 25px;
}

.lerna-main-menu .lerna-topbar-logo {
    padding: 0 25px 0 10px;
}

.lerna-main-menu .lerna-topbar-logo a {
    padding: 0;
}


/* Main page content */
.main-content {
    padding: 25px 10px 15px 10px;
    border: 0;
}

.math.display {
    display: block;
    text-align: center;
}
