@import 'definitions';


body, html {
  margin: 0;
  padding: 0;
  border: 0;
}


.lerna-main-content {
    padding: 25px 10px 15px 10px;
    border: 0;
}


.lerna-main-menu {
  background-color: darken($theme-color, 20%);
  background: linear-gradient(to top, darken($theme-color, 8%), darken($theme-color, 5%));
  padding: 4px 0;

  > .row {
    padding-left: 2;
    > div > ul { background: inherit; }
    > div > ul.horizontal > li > a {
      color: white;
      &::after { border-color: white transparent transparent !important; }
    }
  }

  .lerna-main-menu__logo {
    padding: 0 25px 0 10px;
    a { padding: 0; }
    img {
      width: 25px;
      height: 25px;
    }
  }

  > .lerna-main-menu__row--news         ul.horizontal li > a.lerna-main-menu__news,
  > .lerna-main-menu__row--competitions ul.horizontal li > a.lerna-main-menu__competitions,
  > .lerna-main-menu__row--trainings    ul.horizontal li > a.lerna-main-menu__trainings,
  > .lerna-main-menu__row--rating       ul.horizontal li > a.lerna-main-menu__rating {
    border-bottom: 1px solid white;
    background: inherit;
  }
}


.lerna-user-notifications {
  $lun-color: desaturate(lighten($theme-color, 65%), 40%);
  background-color: $lun-color;
  font-size: $txt-small;

  > .lerna-user-notifications__line {
    border-bottom: solid 1px darken($lun-color, 20%);
    padding: 3px 0;

    .lerna-user-notifications__close {
      &, &:focus, &:hover, &:visited {
        background: inherit;
        margin: 0 15px 0 10px;
        padding: 2px;
        img {
          width: 7px;
          height: 7px;
        }
      }
    }
  }
}
