@import 'definitions';


.lerna-news {
  > .lerna-news__meta {
    color: $txt-gray;
    font-size: $txt-small;
    margin-top: -3px;
  }
  > .lerna-news__content { margin-top: 20px; }
}

.lerna-news-listed {
  margin: 0 0 35px 0;
  > .lerna-news-listed__title {
    margin: 0;
    > a { color: black }
  }
  > .lerna-news-listed__meta {
    color: $txt-gray;
    font-size: $txt-small;
    margin-top: -3px;
  }
  > .lerna-news-listed__content { margin-top: 3px; }
  > .lerna-news-listed__more { margin-left: 5px; }
}
