.lerna-news-list-item {
    margin: 0 0 35px 0;
}

.lerna-news-list-title {
    margin: 0;
}

.lerna-news-list-title > a {
    color: #0a0a0a;
}

.lerna-news-meta {
    color: #777;
    font-size: 12px;
}

.lerna-news-list-content {
    font-size: 15px;
}

.lerna-news-list-more {
    font-size: 15px;
    margin-left: 5px;
}

.lerna-news-item-content {
    margin: 20px 0;
}
