@import 'definitions';


.lerna-users-form {
    border: 1px solid #aaaaaa;
    > h5 { margin: 20px 0 0 0; }
    > .lerna-users-form__altlink {
      color: $txt-gray;
      font-size: $txt-small;
      margin-bottom: 20px;
    }
    > .lerna-users-form__error {
      color: #aa3333;
      margin: 0;
    }
    .button { margin-top: 20px; }
}
