{% extends 'contests/item_base.html' %}

{% block content %}
  {{ block.super }}

  {% if contest.is_training or time_info.started %}
    <h5>Задать вопрос:</h5>
    <form method="post" action="">
      {% csrf_token %}
      {{ form.question }}
      <input class="button lerna-button" type="submit" value="Задать"/>
    </form>
  {% else %}
    <p>После начала соревнования на этой странице можно будет задать вопросы жюри.</p>
  {% endif %}

  {% for clarification in clarifications %}
    <hr/>
    <div class="lerna-c11n">
      {% if user.is_staff %}
        <div class="lerna-c11n__user">{{ clarification.user }}:</div>
      {% endif %}
      <div class="lerna-c11n__question">{{ clarification.question|linebreaksbr }}</div>
      {% if clarification.answer %}
        <div class="lerna-c11n__answer">{{ clarification.answer_html|safe }}</div>
      {% endif %}
      {% if user.is_staff %}
        <a class="button lerna-button" href="{% url 'admin:core_clarification_change' clarification.id %}"
           target="_blank">
          {% if clarification.answer %}
            Исправить
          {% else %}
            Ответить
          {% endif %}
        </a>
      {% endif %}
    </div>
  {% endfor %}
{% endblock %}
