{% extends 'contests/base.html' %}

{% load staticfiles %}

{% block current_nav_section %} lerna-main-menu__row--competitions {% endblock %}

{% block title %} {{ block.super }} :: Список соревнований {% endblock %}


{% block content %}
  {% if not actual_contest_list and not wait_contest_list %}
    {% if not past_contest_list %}
      <div>Нет соревнований для отображения</div>
    {% else %}
      <div>В данный момент нет актуальных или ожидаемых олимпиад</div>
      <hr/>
    {% endif %}
  {% endif %}

  {% if actual_contest_list %}
    <h4>Соревнования, идущие прямо сейчас:</h4>
    {% for contest in actual_contest_list %}
      <div class="lerna-contests-listed">
        <div class="lerna-contests-listed__title">
          {% if contest.is_registration_required %}
            {% if contest.available %}
              <img alt="🔓" class="lerna-indicator" src="{% static 'lerna/icons/unlocked.svg' %}"
                   title="Вы допущены к участию"/>
            {% else %}
              <img alt="🔒" class="lerna-indicator" src="{% static 'lerna/icons/locked.svg' %}"
                   title="Доступ к участию закрыт"/>
            {% endif %}
          {% endif %}
          <a href="{{ contest.get_absolute_url }}">{{ contest.name }}</a>
        </div>
        <div class="lerna-contests-listed__meta">
          {% if contest.is_school %}
            <div>Подсчёт результатов по количеству пройденных тестов.</div>
          {% else %}
            <div>Контест по стандартным правилам ACM</div>
          {% endif %}
          <div>Время начала: {{ contest.start_time|date:"d E (D) в G:i"|lower }}</div>
          <div>Время окончания: {{ contest.finish_time|date:"d E (D) в G:i"|lower }}</div>
          <div>Длительность: {{ contest.duration_str }}</div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if wait_contest_list %}
    <h4>Ожидаемые соревнования:</h4>
    {% for contest in wait_contest_list %}
      <div class="lerna-contests-listed">
        <div class="lerna-contests-listed__title">
          {% if contest.is_registration_required %}
            {% if contest.available %}
              <img alt="🔓" class="lerna-indicator" src="{% static 'lerna/icons/unlocked.svg' %}"
                   title="Вы допущены к участию"/>
            {% else %}
              <img alt="🔒" class="lerna-indicator" src="{% static 'lerna/icons/locked.svg' %}"
                   title="Доступ к участию закрыт"/>
            {% endif %}
          {% endif %}
          <a href="{{ contest.get_absolute_url }}">{{ contest.name }}</a>
        </div>
        <div class="lerna-contests-listed__meta">
          {% if contest.is_school %}
            <div>Подсчёт результатов по количеству пройденных тестов.</div>
          {% else %}
            <div>Контест по стандартным правилам ACM</div>
          {% endif %}
          <div>Время начала: {{ contest.start_time|date:"d E (D) в G:i"|lower }}</div>
          <div>Время окончания: {{ contest.finish_time|date:"d E (D) в G:i"|lower }}</div>
          <div>Длительность: {{ contest.duration_str }}</div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  {% if past_contest_list %}
    <h4>Прошедшие соревнования:</h4>
    {% for contest in past_contest_list %}
      <div class="lerna-contests-listed">
        <div class="lerna-contests-listed__title">
          {% if contest.is_registration_required %}
            {% if contest.available %}
              <img alt="🔓" class="lerna-indicator" src="{% static 'lerna/icons/unlocked.svg' %}"
                   title="Вы допущены к участию"/>
            {% else %}
              <img alt="🔒" class="lerna-indicator" src="{% static 'lerna/icons/locked.svg' %}"
                   title="Доступ к участию закрыт"/>
            {% endif %}
          {% endif %}
          <a href="{{ contest.get_absolute_url }}">{{ contest.name }}
        </a></div>
        <div class="lerna-contests-listed__meta">
          {% if contest.is_school %}
            <div>Подсчёт результатов по количеству пройденных тестов.</div>
          {% else %}
            <div>Контест по стандартным правилам ACM</div>
          {% endif %}
          <div>Время начала: {{ contest.start_time|date:"d E Y в G:i"|lower }}</div>
          <div>Время окончания: {{ contest.finish_time|date:"d E Y в G:i"|lower }}</div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}
