{% extends 'contests/item_base.html' %}

{% load contest_filters %}


{% block content %}
  {{ block.super }}

  {% if not available %}
    <p>
      Это соревнование требует отдельной регистрации на него. Только зарегистрированные
      на участие в соревновании пользователи могут просматривать его рейтинг.
    </p>
  {% elif not contest.is_training and not time_info.started %}
    <p>Текущий рейтинг будет доступен на этой странице сразу после начала соревнования.</p>
  {% else %}
    {% if time_info.freezing_time_str %}
      <div>{{ time_info.freezing_time_str }}</div>
    {% endif %}
    {% for attempt_info in last_attempts %}
      <div>
        Последняя {% cycle 'сдача' 'попытка' %}:
        {% if attempt_info %}
          {{ attempt_info.username }},
          "{{ attempt_info.number|to_ordering_letter }}. {{ attempt_info.problem_name }}",
          {{ attempt_info.time_str }}
        {% endif %}
      </div>
    {% endfor %}

    <table>
    <tr>
      <th>Ранг</th>
      <th>Имя</th>
      {% for pic in problems %}
        <th><span title="{{ pic.problem__name }}">{{ pic.number|to_ordering_letter }}</span></th>
      {% endfor %}
      <th>{% if contest.is_school %}Баллов{% else %}Задач<br/>(из&nbsp;{{ problems|length }}){% endif %}</th>
      <th>Время</th>
    </tr>
    {% for user_info in standings %}
      <tr>
         <td>{{ user_info.rank }}</td>
         <td>{{ user_info.username }}</td>
         {% for result in user_info.results %}
           <td>{{ result.status|linebreaksbr }}{% if result.time %}<br/>{{ result.time }}{% endif %}</td>
         {% endfor %}
         <td>{{ user_info.score|floatformat:-3 }}</td>
         <td>{{ user_info.penalty }}</td>
      </tr>
    {% endfor %}
    {% if standings %}
      <tr>
        <td></td>
        <td>Всего попыток</td>
        {% for statistic in statistics %}
          <td>{{ statistic.total_runs }}</td>
        {% endfor %}
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>{% if contest.is_school %}Полных решений{% else %}Успешных{% endif %}</td>
        {% for statistic in statistics %}
          <td>{{ statistic.accepted }}</td>
        {% endfor %}
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>{% if contest.is_school %}Включая частичные{% else %}Неудачных{% endif %}</td>
        {% for statistic in statistics %}
          <td>
            {% if contest.is_school %}{{ statistic.score_sum|floatformat }}{% else %}{{ statistic.rejected }}{% endif %}
          </td>
        {% endfor %}
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Первая сдача</td>
        {% for statistic in statistics %}
          <td>{{ statistic.first_accepted_str }}</td>
        {% endfor %}
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>Последняя сдача</td>
        {% for statistic in statistics %}
          <td>{{ statistic.last_accepted_str }}</td>
        {% endfor %}
        <td></td>
        <td></td>
      </tr>
    {% endif %}
    </table>
  {% endif %}
{% endblock %}
