{% extends 'contests/item_base.html' %}

{% load contest_filters %}


{% block content %}
  {{ block.super }}

  {% if not available %}
    <p>
      Это соревнование требует отдельной регистрации на него. Только зарегистрированные
      на участие в соревновании пользователи могут просматривать его рейтинг.
    </p>
  {% elif not contest.is_training and not time_info.started %}
    <p>Текущий рейтинг будет доступен на этой странице сразу после начала соревнования.</p>
  {% else %}
    {% if time_info.freezing_time_str %}
      <div>{{ time_info.freezing_time_str }}</div>
    {% endif %}
    {% for code, value in summary.items %}
      <div>
        <span>
          {% if code == 'last_accepted' %}
            Последняя сдача:
          {% elif code == 'last_submitted' %}
            Последняя попытка:
          {% endif %}
        </span>
        <span>{{ value }}</span>
      </div>
    {% endfor %}

    <table>
    <tr>
      <th>Ранг</th>
      <th>Имя</th>
      {% for pic in problems %}
        <th title="{{ pic.problem.name }}">
          {{ pic.number|to_ordering_letter }}
          {% if pic.score %}<br/>{{ pic.score }}{% endif %}
        </th>
      {% endfor %}
      {% for code in extras %}
        <th>
          {% if code == 'solved' %}
            Задач<br/>(из&nbsp;{{ problems|length }})
          {% elif code == 'score' %}
            Баллы
          {% elif code == 'penalty' %}
            Время
          {% endif %}
        </th>
      {% endfor %}
    </tr>

    {% for row in standings %}
      <tr>
        <td>{{ row.rank }}</td>
        <td>{{ row.username }}</td>
        {% for attempt in row.attempts %}
          <td>{{ attempt|default_if_none:'.'|linebreaksbr }}</td>
        {% endfor %}
        {% for value in row.extras.values %}
          <td>{{ value|default_if_none:'—' }}</td>
        {% endfor %}
      </tr>
    {% endfor %}

    {% for code, stat in statistics.items %}
      <tr>
        <td>{# rank #}</td>
        <td>
          {% if code == 'total_runs' %}
            Всего попыток
          {% elif code == 'accepted' %}
            Успешных
          {% elif code == 'rejected' %}
            Неудачных
          {% elif code == 'full' %}
            Полных решений
          {% elif code == 'total_score' %}
            Включая частичные
          {% elif code == 'first_accepted' %}
            Первая сдача
          {% elif code == 'last_accepted' %}
            Последняя сдача
          {% endif %}
        </td>
        {% for value in stat %}
          <td>{{ value|default_if_none:'—' }}</td>
        {% endfor %}
        {% if extras %}
          {% if extras|length == 1 %}
            <td></td>
          {% else %}
            <td colspan="{{ extras|length }}"></td>
          {% endif %}
        {% endif %}
      </tr>
    {% endfor %}
    </table>
  {% endif %}
{% endblock %}
