{% extends 'contests/base.html' %}

{% block current_nav_section %} lerna-main-menu__row--trainings {% endblock %}

{% block title %} {{ block.super }} :: Список тренировок {% endblock %}


{% block content %}
  {% for t in trainings %}
    <div>
      <span>
        {% for i in t.tab %}
          &nbsp;&nbsp;&nbsp;&nbsp;
        {% endfor %}

        {% if t.is_terminal %}
          <a href="{% url 'contests:training' contest_id=t.id %}">
            {{ t.name }}
          </a>
        {% else %}
            {{ t.name }}
        {% endif %}
      </span>
    </div>
  {% empty %}
    <p>Пока нет заведённых тренировок</p>
  {% endfor %}
{% endblock %}
