{% extends 'base.html' %}

{% block title %} {{ block.super }} :: Попытки {{ user.username }} {% endblock %}

{% block content %}
  {% if attempts %}
    <table style="width: 100%">
    <tr>
      <th>Время</th>
      <th>Контест</th>
      <th>Задача</th>
      <th>Компилятор</th>
      <th>Вердикт</th>
      <th>Используемое<br/>время, сек</th>
      <th>Используемая<br/>память, КБ</th>
    </tr>
    {% for attempt in attempts %}
      <tr>
        <td>{{ attempt.created_at }}</td>
        <td>{{ attempt.problem_in_contest.contest.name }}</td>
        <td>
          <a href="{{ attempt.problem_in_contest.get_absolute_url }}">
            {{ attempt.problem_in_contest.ordering_id }}. {{ attempt.problem_in_contest.problem.name }}
          </a>
        </td>
        <td>{{ attempt.compiler.name }}</td>
        <td><a href="{{ attempt.get_absolute_url }}">{{ attempt.verdict|default:'Waiting' }}</a></td>
        <td>{{ attempt.used_time|default_if_none:'' }}</td>
        <td>{{ attempt.used_memory|default_if_none:'' }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>На этой странице будет отображаться очередь ваших посылок</p>
  {% endif %}
{% endblock %}

{% block pagination %}
  {% with page_link='global_statistics:attempts' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
