{% extends 'global.html' %}

{% block body %}

<h2>Рейтинг используемого времени для решений задачи «{{ problem.name }}»</h2>

{% if user_list %}
  <table>
  <tr>
    <th>Ранг</th>
    <th>Имя</th>
    <th>Время</th>
    <th>Компилятор</th>
  </tr>
  {% for user in user_list %}
    <tr>
       <td>{{ user.rank }}</td>
       <td>{{ user.username }}</td>
       <td>{{ user.best_time }}</td>
       <td>{{ user.compiler }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>Нет доступных для отображения в рейтинге пользователей</p>
{% endif %}

{% if page_obj %}
<div class="pagination">
  <span class="step-links">

  {% for i in paginator.page_range %}
    [
    {% if i == page_obj.number %}
      {{ i }}
    {% else %}
      {% if i == 1 %}
        {% url 'global_statistics:best_time' problem.id as u %}
      {% else %}
        {% url 'global_statistics:best_time' problem.id i as u %}
      {% endif %}
      <a href="{{ u }}">{{ i }}</a>
    {% endif %}
    ]
  {% endfor %}

  </span>
</div>
{% endif %}

{% endblock body %}
