{% extends 'base.html' %}

{% block title %} {{ block.super }} :: Рейтинг решений задачи по времени {% endblock %}

{% block body %}

<h2>Рейтинг используемого времени для решений задачи «{{ problem.name }}»</h2>

{% if user_list %}
  <table>
  <tr>
    <th>Ранг</th>
    <th>Имя</th>
    <th>Время</th>
    <th>Компилятор</th>
  </tr>
  {% for user in user_list %}
    <tr>
       <td>{{ user.rank }}</td>
       <td>{{ user.username }}</td>
       <td>{{ user.best_time }}</td>
       <td>{{ user.compiler }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>Нет доступных для отображения в рейтинге пользователей</p>
{% endif %}

{% endblock body %}

{% block pagination %}
  {% with page_link='global_statistics:best_time' page_param=problem.id %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
