{% extends 'base.html' %}

{% block title %} {{ block.super }} :: Глобальный рейтинг {% endblock %}

{% block current_nav_section %} rating_nav_section {% endblock %}

{% block content %}

<h2>Глобальный рейтинг</h2>

{% if user_list %}
  <table>
  <tr>
    <th>Ранг</th>
    <th>Имя</th>
    <th>Задач (из {{ problems_total_amount }})</th>
  </tr>
  {% for user in user_list %}
    <tr>
       <td>{{ user.rank }}</td>
       <td>{{ user.username }}</td>
       <td>{{ user.problems_solved }}</td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>Нет доступных для отображения в рейтинге пользователей</p>
{% endif %}

{% endblock %}

{% block pagination %}
  {% with page_link='global_statistics:rating' %}
    {{ block.super }}
  {% endwith %}
{% endblock %}
