<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

{% load staticfiles %}
{% load pipeline %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/gif" href="{% static 'favicon.gif' %}" />

    <title>
        {% block title %}Lerna{% endblock %}
    </title>

    {% block stylesheet_links %}
    {% stylesheet 'jquery' %}
    {% stylesheet 'foundation' %}
    {% stylesheet 'lerna' %}
    {% endblock stylesheet_links %}
</head>

<body>

<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name"><h1><a href="index.php">Lerna</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Меню</span></a></li>
    </ul>
</nav>

{% block javascript_links %}
{% javascript 'foundation' %}
{% javascript 'jquery' %}
{% endblock javascript_links %}

</body>

</html>
