{# Uncomment in production: #}{# {% spaceless %} #}
{% block doctype %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
{% endblock %}

{% load staticfiles %}

<html>
  <head>
    <title>{% block title %}Lerna{% endblock %}</title>
    {% block favicon %}
      <link rel="shortcut icon" type="image/gif" href="{% static 'favicon.gif' %}" />
    {% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body>
    <h1><a href="/">Lerna</a></h1>
    {% if user.is_authenticated %}
      <p>Вы зашли как {{ user.username }} <a href="/logout">Выйти</a> </p>
    {% else %}
      <p><a href="/login">Войдите</a> в систему или <a href="/registration">зарегистрируйтесь</a></p>
    {% endif %}
    {% block local_title %}{% endblock local_title %}
    {% block links %}{% endblock links %}
    {% block body %}{% endblock body %}
  </body>
</html>
{# {% endspaceless %} #}
